<template>
	<v-flex v-bind="$attrs">
		<slot></slot>
	</v-flex>
</template>
<script>
	export default {
		name: "c-col",

		components: {},
		data() {
			return {};
		},
		computed: {},

		methods: {},
		watch: {},
		created() {
		},
		mounted() {
		},
		updated() {
		},
		destroyed() {
		}
	};
</script>

<style scoped>

</style>