<template>
	<v-navigation-drawer
		v-model="open"
		clipped
		fixed
		app
		right

	>
		<v-list dense>
			<v-list-tile v-for="route in routes" :key="route.name" :to="route">
				<v-list-tile-action v-if="route.icon">
					<v-icon>{{route.icon}}</v-icon>
				</v-list-tile-action>
				<v-list-tile-content>
					<v-list-tile-title>{{route.title}}</v-list-tile-title>
				</v-list-tile-content>
			</v-list-tile>
			<v-list-tile @click="doLogout">
				<v-list-tile-action>
					<v-icon>logout</v-icon>
				</v-list-tile-action>
				<v-list-tile-content>
					<v-list-tile-title>התנתקות</v-list-tile-title>
				</v-list-tile-content>
			</v-list-tile>
		</v-list>
	</v-navigation-drawer>
</template>

<script>
	import {types as AuthTypes} from "dev/store/modules/Auth.module";

	export default {
		name: "navigation-drawer",
		props: {
			value: {},
			routes: {
				type: Array,
				default: () => []
			}
		},
		components: {},
		data() {
			return {
				open: true
			};
		},
		computed: {},
		methods: {
			doLogout() {
				this.$store.dispatch(AuthTypes.LOGOUT).then(() => {
					location.reload();
				});
			}
		},
		watch: {
			value: {
				immediate: true,
				handler() {
					this.open = this.value;
				}
			}

		},

	};
</script>

<style scoped>

</style>