<script>
	export default {
		name: "page",
		props: [],
		components: {},
		data() {
			return {};
		},
		render(createElement) {
			return createElement("row", {
				props: {
					alignCenter: true, justifyCenter: true
				}
			}, [
				createElement("v-flex", {props: "xs12"}, [
					this.$slots.default
				])
			]);
		},
		computed: {},
		methods: {},
		watch: {},
		created() {
		},
		mounted() {
		},
		updated() {
		},
		destroyed() {
		}
	};
</script>

<style scoped>

</style>