<template>
	<button class="btn btn-danger" type="button" @click="onClick">
		<i class="fa fa-trash" aria-hidden="true"></i>
	</button>
</template>

<script>
	export default {
		name: "remove-btn",
		props: ["data"],
		components: {},
		data() {
			return {};
		},
		computed: {},
		methods: {
			onClick() {
				this.$emit("click", this.data);
				this.$notfication.warning().then(() => {
					this.$emit("remove");
				});
			}
		},
		watch: {},
		created() {
		},
		mounted() {
		},
		updated() {
		},
		destroyed() {
		}
	};
</script>

<style scoped>

</style>