<template>
	<input :is="tagName"
		v-model="model"
		:label="theLabel"
		:required="required"
		:rules="rules"
		v-bind="$attrs"
	>
	<!--<v-textarea v-else-->
	<!--v-model="model"-->
	<!--:label="theLabel"-->
	<!--:required="required"-->
	<!--:rules="rules"-->
	<!--v-bind="$attrs">-->
	<!--</v-textarea>-->
</template>

<script>
	export default {
		name: "smart-input",
		props: {
			label: {type: String},
			value: {},
			name: {type: String},
			required: {type: Boolean},
			textarea: {
				type: Boolean, default: false
			}
		},
		components: {},
		data() {
			return {};
		},
		computed: {
			model: {
				get() {
					return this.value;
				},
				set(val) {
					this.$emit("input", val);
				}
			},
			theLabel() {
				return this.required ? this.label + "*" : this.label;
			},
			rules() {
				let rules = [];
				if (this.required) {
					rules.push(v => !!v || `${this.theLabel} הוא שדה חובה`);
				}
				return rules;
			},
			tagName() {
				return this.textarea ? "v-textarea" : "v-text-field";
			}

		},

	};
</script>

<style scoped>

</style>