<template>
	<v-app id="inspire">
		<navigation-drawer v-if="isConnected" v-model="drawer" :routes="items"></navigation-drawer>
		<v-toolbar v-if="isConnected" color="indigo" dark fixed app>
			<v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
			<v-toolbar-title> תתהלל - מערכת ניהול</v-toolbar-title>
		</v-toolbar>
		<v-content>
			<v-container fluid fill-height>
				<v-layout justify-center align-start>
					<v-flex>
						<router-view></router-view>
					</v-flex>
				</v-layout>
			</v-container>
		</v-content>

		<v-footer app fixed>
			<span>&copy; CloseApp Team</span>
		</v-footer>
	</v-app>
</template>

<script>
	import NavigationDrawer from "dev/scaffoldings/vuetify/NavigationDrawer";

	export default {
		components: {NavigationDrawer},
		data: () => ({
			drawer: true,
			items: [
				{name: "users-page", "title": "תלמידות"},
				{name: "notifications-page", "title": "שליחת מסרים"},
				{
					name: "bookorders-view",
					"title": "ניהול הזמנות ספרים"
				}


			]
		}),
		computed: {
			isConnected: function () {
				return this.$store.getters.isConnected;
			}
		},
	};
</script>
