<template>
	<!-- Navigation -->
	<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">מערכת</a>
			<label class="navbar-brand" @click="logout">
				<small>
					<u>התנתק מהחשבון</u>
				</small>
			</label>
		</div>
		<!-- /.navbar-header -->

		<ul class="nav navbar-top-links navbar-right"></ul>
		<!-- /.navbar-top-links -->

		<div class="navbar-default sidebar" role="navigation">
			<div class="sidebar-nav navbar-collapse">
				<ul class="nav" id="side-menu">
					<li is="router-link" tag="li" role="presentation" active-class="active" to="/">
						<a><i class="fa fa-dashboard fa-fw"></i>Dashboard</a>
					</li>
					<li is="router-link" tag="li" role="presentation" active-class="active" to="/users">
						<a><i class="fa fa-users fa-fw"></i> ניהול משתמשים</a>
					</li>


				</ul>
			</div>
			<!-- /.sidebar-collapse -->
		</div>
		<!-- /.navbar-static-side -->
	</nav>

</template>

<script>
	import AuthModule from "./store/modules/Auth.module";
	export default {
		props: [],
		name:"main-navbar",
		components: {},
		data() {
			return {};
		},
		computed: {},
		methods: {
			logout(){
				this.$store.dispatch(AuthModule.types.LOGOUT).then(
					() => {
						this.$router.push("/login");
					}
				);
			},
		},
		created() {
		},
		mounted() {
		},
		updated() {
		},
		destroyed() {
		}
	};
</script>

<style scoped="true">
    .sidebar ul li.active {
        background-color: #eee;
    }

</style>