<template>
	<page>
		<div>יש לבחור בתפריט בצד ימין את הדף הרצוי</div>
	</page>
</template>

<script>
	export default {
		name: "welcome-view",
		props: [],
		components: {},
		data() {
			return {};
		},
		computed: {},
		methods: {},
		watch: {},
		created() {
		},
		mounted() {
		},
		updated() {
		},
		destroyed() {
		}
	};
</script>

<style scoped>

</style>