<template>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div id="myModal" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
					style="display: block;">
					<div class="modal-dialog " :class="modalclass" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"
									@click="closeModal"
									aria-hidden=" true"><span>
										&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">
									<slot name="header">
									</slot>

								</h4>
							</div>
							<div class="modal-body">
								<slot>
									default body
								</slot>
							</div>
							<div class="modal-footer">
								<div class="row">
									<div class="col-xs-12 ">
										<slot name="footer"></slot>
										<button type="button" class="btn btn-default" data-dismiss="modal"
											@click="closeModal">סגור
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	let modal = "";
	export default {
		props: ["modalclass"],
		name: "modal-view",
		components: {},
		data() {
			return {
				modal: null
			};
		},
		computed: {},
		methods: {
			closeModal() {
				this.modal.modal("hide");
			}
		},
		created() {
		},
		mounted() {
			this.modal = $("#myModal");
			this.modal.modal("show");
			this.modal.on("hidden.bs.modal", (e) => {
				this.$emit("close");
			});
		},
		updated() {
		},
		beforeDestroy() {
			this.modal.modal("hide");
		}
	};
</script>

<style scoped>
    .modal-body {
        max-height: calc(100vh - 210px);
        overflow-y: auto;
        direction: rtl;
    }

    .modal-backdrop {
        position: fixed;
        top: 0;
        background-color: white;
        z-index: 1000;
        opacity: 0.5;
    }

    div#sendBtn {
        position: relative;
        right: 79%;
    }


</style>