<template>
	<v-btn fab small dark color="red" @click="onClick">
		<v-icon small>delete
		</v-icon>
	</v-btn>
</template>

<script>
	export default {
		name: "remove-btn",
		props: ["data"],
		components: {},
		data() {
			return {};
		},
		computed: {},
		methods: {
			async onClick() {
				this.$emit("click", this.data);
				let response = await this.$notfication.warning();
				if (response.value) {
					this.$emit("remove");
				}
			}
		},
		watch: {},
		created() {
		},
		mounted() {
		},
		updated() {
		},
		destroyed() {
		}
	};
</script>

<style scoped>

</style>