<template>
	<div class="row">
		<div class="col-xs-12" v-if="withCol">
			<slot>
			</slot>
		</div>
		<slot v-else>
		</slot>
	</div>
</template>

<script>
	export default {
		name: "row",
		props: ["col"],
		components: {},
		data() {
			return {};
		},
		computed: {
			withCol() {
				return !(this.$props.col === undefined);
			}
		},
		methods: {},
		watch: {},
		created() {
			window.ww = this;
		},
		mounted() {
		},
		updated() {
		},
		destroyed() {
		}
	};
</script>

<style scoped>

</style>