<template>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h1 class="border-bottom">
				<slot></slot>
			</h1>
		</div>
	</div>
</template>

<script>
	export default {
		name: "title-view",
		props: [],
		components: {},
		data() {
			return {};
		},
		computed: {},
		methods: {},
		watch: {},
		created() {
		},
		mounted() {
		},
		updated() {
		},
		destroyed() {
		}
	};
</script>

<style scoped>
	.border-bottom {
		border-bottom: 2px solid #cccccc;
		padding-bottom: 10px;
		margin-bottom: 20px;
	}
</style>