<!--suppress ALL -->

<template>
	<tr>
		<td class="text-xs-center">
			{{user.id }}
		</td>
		<td class="text-xs-center">
			{{user.name }}
		</td>
		<td class="text-xs-center">
			{{user.email }}
		</td>
		<td class="text-xs-center">
			{{user.phone_number }}
		</td>
		<td class="text-xs-center">
			{{user.tz }}
		</td>
		<td class="text-xs-center">
			{{user.leumi_place }}
		</td>
		<td class="text-xs-center">
			{{user.organization }}
		</td>
		<td class="text-xs-center">
			{{user.city }} {{user.street }} {{user.home_number }}
		</td>
		<td class="text-xs-center">
			{{user.ZIP_code }}
		</td>
		<td>
			<edit-btn @click="onEdit"/>
			<remove-btn/>
		</td>
	</tr>
</template>

<script>

	import {types} from "dev/store/modules/User.module";
	import RemoveBtn from "dev/scaffoldings/RemoveBtn";
	import EditBtn from "dev/scaffoldings/EditBtn";
	import RowMixin from "dev/mixins/RowMixin";

	export default {
		name: "user-row",
		props: {
			user: {required: true}
		},
		components: {EditBtn, RemoveBtn},
		mixins: [new RowMixin(types, "user")],
		data() {
			return {};
		},
		computed: {},
		methods: {
			doRemove() {
				this.$store.dispatch(types.REMOVE, this.user).then(() => {
				});
			},
			onEdit() {
				this.$emit("edit", this.user);
			},
			showAlert(event) {
				console.log(event);
				if (event.target.classList.contains("btn__content")) return;
				alert(this.user.name);
			}
		}
	};
</script>

<style>


</style>