<template>

	<page>
		<title-view>מסך תלמידות
			<v-btn slot="actions" flat @click="downloadData">הורדת נתונים</v-btn>
		</title-view>
		<row>
			<c-col>
				<users-table @edit="onEdit"/>
			</c-col>
		</row>
		<popup-dialog v-model="openModal">
			<span slot="header"> עריכת פרטי תלמידה</span>
			<user-form @save="openModal=false"/>
		</popup-dialog>
	</page>


</template>

<script>
	import UsersTable from "dev/view/users/UsersTable";
	import UserForm from "dev/view/users/UserForm";
	import UserModule from "dev/store/modules/User.module";

	export default {
		name: "users-view",
		components: {UserForm, UsersTable},
		data() {
			return {
				openModal: false
			};
		},
		methods: {
			downloadData() {
				window.open("/api/export/users", "_blank");
			},
			onEdit(user) {
				this.$store.commit(UserModule.types.GET, user);
				this.openModal = true;
			}
		}

	};
</script>

<style scoped>

</style>