<!--suppress ALL -->
<template>
	<v-select :options="options" v-model="model" label="name"></v-select>
</template>

<script>
	import UserModule from "dev/store/modules/User.module";
	import SelectMixin from "dev/mixins/SelectMixin";

	export default {
		name: "users-select",
		props: {value: {default: null}},
		components: {},
		mixins: [new SelectMixin(UserModule, "users")],
	};
</script>
