<template>
	<row>
		<c-col>
			<v-card>
				<v-card-title>
					<v-spacer></v-spacer>
					<v-text-field
						v-model="searchText"
						append-icon="search"
						label="Search"
						single-line
						hide-details
						right
					></v-text-field>
				</v-card-title>

				<v-data-table
					:headers="headers"
					:items="users"
					:loading="loading"
					class="elevation-1"
					:search="searchText"
					:pagination.sync="pagination"
				>
					<v-progress-linear slot="progress" color="blue" indeterminate></v-progress-linear>
					<user-row slot="items" slot-scope="props" @edit="onEdit" :user="props.item"/>
				</v-data-table>

			</v-card>
		</c-col>
	</row>
</template>

<script>
	import UserRow from "dev/view/users/UserRow";
	import {types} from "dev/store/modules/User.module";
	import FilterAble from "dev/mixins/FilterAble";


	export default {
		name: "users-table",
		props: [],
		components: {
			UserRow
		},
		mixins: [new FilterAble(types)],
		data() {
			return {
				searchText: "",
				headers: [
					{text: "מזהה", value: "id"},
					{text: "שם", value: "name"},
					{text: "דואר אלקטרוני", value: "email"},
					{text: "מספר טלפון", value: "phone_number"},
					{text: "תעודת זהות", value: "tz"},
					{text: "מקום שירות", value: "leumi_place"},
					{text: "ארגון", value: "organization"},
					{text: "כתובת מגורים", value: "city"},
					{text: "מיקוד", value: "ZIP_code"},
					{text: "פעולות", sortable: false, value: "action"},

				],
				search: null,
				showDialog: false,
				pagination: {
					"descending": true, rowsPerPage: 100
				},
			};
		},
		computed: {
			users() {
				return this.$store.state.UserModule.users;
			}
		},
		methods: {
			onEdit(User) {
				this.$emit("edit", User);
			}
		}
	};
</script>

<style>

</style>