<!--suppress ALL -->
<!--suppress UnreachableCodeJS -->
<template>

	<form @submit.prevent="onSubmit">

		<smart-input :error="inputErrors.name" label='שם' v-model="form.name"></smart-input>
		<smart-input :error="inputErrors.phone_number" label='טלפון סלולרי' v-model="form.phone_number"></smart-input>
		<smart-input :error="inputErrors.email" label='מייל' v-model="form.email"></smart-input>

		<smart-input :error="inputErrors.leumi_place" label='מקום שירות' v-model="form.leumi_place"></smart-input>

		<smart-input :error="inputErrors.city" label='כתובת \ עיר' v-model="form.city"></smart-input>
		<smart-input :error="inputErrors.street" label='רחוב' v-model="form.street"></smart-input>
		<smart-input :error="inputErrors.home_number" label='מס בית' v-model="form.home_number"></smart-input>

		<div class="form-group">
			<v-btn type="submit" color="success">שמירה</v-btn>
		</div>
	</form>
</template>


<script>
	import UserModule from "dev/store/modules/User.module";
	import FormView from "dev/mixins/FormView";
	export default {
		props: [],
		name: "user-form",
		components: {},
		data() {
			return {
				form: {
					name: null,
				},
			};
		},
		mixins: [new FormView(UserModule,"user")],
		computed: {
			isNew(){
				return !!this.user.id;
			}
		}
	};
</script>

<style>

</style>