<template>
	<nav class="main-nav">
		<img src="/images/logo.png" alt="logo">
		<div class="header-buttons-cont">
			<div class="header-buttons">
				<span> {{user.name}}</span>
				<span v-if="institutes && !isMobile">- {{role}}</span>
			</div>
		</div>
		<button v-if="isMobile" class="navbar-toggler" type="button" data-toggle="collapse" @click="$emit('side')"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<i class="fas fa-bars"></i>
		</button>
	</nav>
</template>

<script>
	import AuthModule from "dev/store/modules/Auth.module";
	import { types as InstituteMemberTypes } from "dev/store/modules/InstituteMember.module";

	export default {
		props: { title: { type: String, default: "צעדים" } },
		name: "main-navbar",
		components: {},
		data() {
			return {
				requests: 0,
				classroomId: null
			};
		},
		computed: {
			institutes() {
				return this.$store.state.AuthInstituteModule.current;
			},
			user() {
				return this.$store.state.AuthModule.user;
			},
			colorBySystemType() {
				return this.$store.getters.isDirector
					? "background-color:#3D5355"
					: this.$store.getters.isManager || this.$store.getters.isAdmin
						? "background-color:#5565EE"
						: "background-color:#5B2DEE";
			},
			role() {
				return this.$store.getters.isDirector
					? "מנהל מערכת"
					: this.$store.getters.isManager || this.$store.getters.isAdmin
						? "מנהל מוסד"
						:
							this.$store.getters.isStudent ? "תלמיד" : "מורה";
			},
			isMobile(){
				return this.$store.getters.isMobile;
			},
		},
		methods: {
			getRequests() {
				if (this.$store.getters.isManager)
					this.$store
						.dispatch(InstituteMemberTypes.FETCH, {
							institute_id: this.$store.state.AuthInstituteModule.current.id,
							member_id: this.$store.state.AuthModule.user.id
						})
						.then(() => {
							this.requests = this.$store.state.InstituteMemberModule.institute_members;
						});
				else
					this.$store
						.dispatch(InstituteMemberTypes.FETCH, {
							member_id: this.$store.state.AuthModule.user.id
						})
						.then(() => {
							this.requests = this.$store.state.InstituteMemberModule.institute_members;
						});
			}
		},
		created() {
			if (this.$route.params.id) this.classroomId = this.$route.params.id;

		},
		mounted() {},
		updated() {},
		destroyed() {}
	};
</script>

<style scoped>
.login-title {
  color: wheat;
}

.sidebar ul li.active {
  background-color: #eee;
}

/*.alert-number {*/
/*background-color: red;*/
/*padding: 10px 10px 10px 10px;*/
/*border-radius: 10px;*/
/*}*/
@media (max-width: 768px) {
  .navbar-toggler {
    /* position: absolute;
    top: 0;
    right: 0; */
  }
}
</style>
