<template>
	<page>
		<title-view>
			שליחת מסרים
		</title-view>
		<row>
			<c-col>
				<v-form @submit.prevent="onSubmit">
					<v-textarea :required="true" v-model="form.message" label="תוכן ההודעה"></v-textarea>
					<smart-input :required="false" type="url" v-model="form.link" label="קישור(לחיצה על הנוטיפיקציה תוביל לקישור, השאירו ריק לכניסה לאפליקציה עצמה)"></smart-input>
					<v-btn type="submit" :loading="inProgress">שלח</v-btn>
				</v-form>
			</c-col>
		</row>
	</page>
</template>

<script>
	import NotificationService from "dev/services/NotificationService";

	export default {
		name: "notifications-view",
		props: [],
		components: {},
		data() {
			return {
				inProgress: false,
				form: {
					message: null,
					link: null
				}
			};
		},
		computed: {},
		methods: {
			async onSubmit() {
				let response = await this.$notfication.warning();
				if (response.value) {

					this.inProgress = true;
					try {
						await NotificationService.create(this.form);
						this.inProgress = false;
						this.$notfication.success();
						this.form = Object.assign({}, {message: null, title: null});
					} catch (e) {
						this.$notfication.error();
					}
				}

			}
		},
		watch: {},
		created() {
		},
		mounted() {
		},
		updated() {
		},
		destroyed() {
		}
	};
</script>

<style scoped>

</style>
