<template>

	<page>
		<title-view>מסך הזמנות ספרים
		</title-view>
		<row>
			<c-col>
				<book-orders-table @edit="onEdit"/>
			</c-col>
		</row>
		<popup-dialog v-model="openModal">
			<span slot="header">יצירת/עריכת BookOrder</span>
			<book-order-form @save="openModal=false"/>
		</popup-dialog>

	</page>


</template>

<script>
	import BookOrderForm from "dev/view/bookorders/BookOrderForm";
	import BookOrdersTable from "dev/view/bookorders/BookOrdersTable";
	import BookOrderModule from "dev/store/modules/BookOrder.module";

	export default {
		name: "bookorders-view",
		components: {BookOrdersTable, BookOrderForm},
		data() {
			return {
				openModal: false
			};
		},
		methods: {
			onEdit(BookOrder) {
				this.$store.commit(BookOrderModule.types.GET, BookOrder);
				this.openModal = true;
			}
		}

	};
</script>

<style scoped>

</style>