<!--suppress ALL -->
<template>
	<v-select :options="options" v-model="model" label="name"></v-select>
</template>

<script>
	import BookOrderModule from "../../store/modules/BookOrder.module";
	import SelectMixin from "../../mixins/SelectMixin";

	export default {
		name: "bookorders-select",
		props: {value: {default: null}},
		components: {},
		mixins: [new SelectMixin(BookOrderModule, "bookorders")],
	};
</script>
