<template>
	<row>
		<c-col>
			<v-card>
				<v-card-title>
					<v-spacer></v-spacer>
					<v-text-field
						v-model="searchText"
						append-icon="search"
						label="Search"
						single-line
						hide-details
						right
					></v-text-field>
				</v-card-title>
				<v-data-table
					:headers="headers"
					:items="bookOrdersList"
					:loading="loading"
					class="elevation-1"
					:pagination.sync="pagination"
				>
					<v-progress-linear slot="progress" color="blue" indeterminate></v-progress-linear>
					<book-order-row slot="items" slot-scope="props" :bookorder="props.item" @edit="onEdit"/>
				</v-data-table>
			</v-card>
		</c-col>
	</row>
</template>

<script>
	import BookOrderRow from "dev/view/bookorders/BookOrderRow";
	import {types} from "dev/store/modules/BookOrder.module";
	import FilterAble from "dev/mixins/FilterAble";


	export default {
		name: "bookorders-table",
		props: [],
		components: {
			BookOrderRow,
		},
		mixins: [new FilterAble(types)],
		data() {
			return {loading: false,
				headers: [
					{text:"מספר",value:"user_id", align: "right" },
					{text:"תאריך הזמנה",value:"created_at", align: "right" },
					{text:"שם ספר",value:"book_id", align: "right" },
					{text:"שם",value:"user.name", align: "right" },
					{text:"תז",value:"user.tz", align: "right" },
					{text:"מייל",value:"user.email", align: "right" },
					{text:"פלאפון",value:"user.phone_number", align: "right" },
					{text:"כתובת",value:"user.address", align: "right" },
					{text:"סטטוס",value:"is_reach", align: "right" },
					{text:"תאריך טיפול למשלוח",value:"book_send_date", align: "right" },
					{text:"פעולות",value:"", align: "right" }
				],
				search: null,
				searchText: null,
				showDialog: false,
				pagination: {
					sortBy: "created_at", rowsPerPage: 50 , descending: true },
			};
		},
		computed: {
			bookOrdersList() {
				return this.$store.state.BookOrderModule.bookorders;
			}
		},
		methods: {
			onEdit(BookOrder) {
				this.$emit("edit", BookOrder);
			}
		}
	};
</script>

<style>

</style>