<!--suppress ALL -->

<template>
	<tr>
		<td class="text-xs-right">
			{{bookorder.user_id}}
		</td>


		<td class="text-xs-right">
			{{bookorder.created_at}}
		</td>

		<td class="text-xs-right">
			{{bookorder.book.name}}
		</td>
		<td class="text-xs-right">
			{{bookorder.user.name }}
		</td>

		<td class="text-xs-right">
			{{bookorder.user.tz}}
		</td>

		<td class="text-xs-right">
			{{bookorder.user.email }}
		</td>
		<td class="text-xs-right">
			{{bookorder.user.phone_number }}
		</td>
		<td class="text-xs-right">
			{{bookorder.address }}
		</td>
		<td class="text-xs-right">
			{{bookorderStatus}}
			<v-btn class="green" v-if="!bookorder.is_reach" @click="changeStatus(true)">עדכן לנשלח</v-btn>
		</td>
		<td class="text-xs-right">
			{{bookorder.book_send_date}}
		</td>
		<remove-btn/>
		<td>
		</td>

	</tr>
</template>

<script>

	import {types} from "dev/store/modules/BookOrder.module";
	import RowMixin from "dev/mixins/RowMixin";
	import RemoveBtn from "dev/scaffoldings/RemoveBtn";

	export default {
		name: "bookorder-row",
		props: {
			bookorder: {required: true}
		},
		components: {RemoveBtn},
		mixins: [new RowMixin(types, "bookorder")],
		data() {
			return {};
		},
		computed: {
			bookorderStatus() {
				if (!this.bookorder.is_reach)
					return "בקשה להזמנת ספר";
				return "ספר נשלח";
			}
		},
		methods: {
			changeStatus(val) {
				this.bookorder.is_reach = val;
				this.$store.dispatch(types.SAVE, this.bookorder).then(() => {
					swal("שונה סטטוס הזמנה ונשלח הודעה לבת השירות ");
				});

			},
		}
	};
</script>

<style>


</style>