<!--suppress ALL -->
<!--suppress UnreachableCodeJS -->
<template>

	<form @submit.prevent="onSubmit">

		<smart-input :error="inputErrors.book_id" label='book_id' v-model="form.book_id"></smart-input>
		<smart-input :error="inputErrors.user_id" label='user_id' v-model="form.user_id"></smart-input>
		<smart-input :error="inputErrors.address" label='address' v-model="form.address"></smart-input>
		<smart-input :error="inputErrors.is_reach" label='is_reach' v-model="form.is_reach"></smart-input>
		<div class="form-group">
			<v-btn type="submit" color="success">שמירה</v-btn>
		</div>
	</form>
</template>


<script>
	import BookOrderModule from "../../store/modules/BookOrder.module";
	import FormView from "../../mixins/FormView";
	export default {
		props: [],
		name: "bookorder-form",
		components: {},
		data() {
			return {
				form: {
					name: null,
				},
			};
		},
		mixins: [new FormView(BookOrderModule,"bookorder")],
		computed: {
			isNew(){
				return !!this.bookorder.id;
			}
		}
	};
</script>

<style>

</style>