<template>
	<div>
		<v-select
			:items="items"
			item-text="title"
			v-model="model"
			item-value="key">
		</v-select>
	</div>
</template>

<script>
	export default {
		name: "status-select",
		props: {
			value:{required:true},
		},
		data() {
			return {
				items:[],
			};
		},
		computed: {
			model: {
				set(value) {
					this.$emit("change", value);
				},
				get() {
					return this.items.find((item)=>{
						return item.key == +this.value;
					});
				}
			}
		},
		created() {
			this.items = [{key: 1, title: "בקשה לשליחה"}, {key: 2, title: "הספר נשלח"}];

		}
	};
</script>

<style scoped>

</style>